@import "./main/reset.scss";
@import "./main/vars.scss";
@import "./main/travel.scss";
@import "./main/adaptive.scss";
@import "./components/services.scss";
@import "./components/destinations.scss";
@import "./components/book.scss";
@import "./components/swiper.scss";
@import "./components/subscribe.scss";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
html{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    background: $white-color;
}
.decore-block{
    background-image: url(../imgs/Decore.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60em 60em;
    padding-bottom: 145px;
                       
}
.header{      
    &__conteiner{
        max-width: 1190px;
        margin: 0 auto;
        padding: 47px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;    
    }       
    &__logo{
        margin-right: 222px;
    }
    &__btn{
        font-family: 'Google Sans';
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
        padding: 9px 21px 9px 22px;
        margin-right: 42px;
        background: rgba(0,0,0,0.0);
        border: 1px solid black;
    }
    &__select{
        border: none;
        text-align: center;        
        font-family: 'Google Sans';        
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
        color: $text-color;
        background: rgba(0,0,0,0.0);
    }    
}
.menu{
    display: flex;
    flex-wrap: wrap;    
    
    &__link{
        text-decoration: none;
        font-family: 'Google Sans';
        margin-right: 62px;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: $text-color;
        cursor: pointer;            
    }    
}
.compani{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 112px;

    &__img{
        mix-blend-mode: luminosity;
              
    }

    &__img:hover{
        mix-blend-mode: normal;
    }
}
//1000px-1140px
@media (min-width:1000px) and (max-width:1139.8px){
    .destinations-block__text{
        left: 57px;
        width: 85%;
    }
    .travel__girl{
        bottom: 5px;
        left: 467px;
    }
}
//925px-1200px
@media (min-width:925px) and (max-width:1199.7px){
    .header__logo{
        margin-right: 40px;
    }
    .menu__link{
        margin-right: 52px;
    }
    .travel__text{
        font-size: 18px;
        margin-top: 100px;
    }
    .travel__title{
        font-size: 70px;
        margin-bottom: 20px;
    }
    .travel__btn{
        margin-right: 22px;    
    }
    .pictures__girl{
        bottom: 30px;
        left: 419px;
        max-width: 100%;
    }
    .decore-block{
        background-size: 35em 50em;
    }
    .destinations__img{
        display: none;
    }
    .travel__decore{
        left: 166px;
        max-width: 70%;
    }
    .travel__girl{
        bottom: 50px;
        left: 370px;
    }
    .services-block{
        width: 25%;
    }
    .category__img{
        left: 228px;
    }
    .destinations-block__text{
        left: 58px;
        bottom: 137px;
        width: 82%;
        padding-left: 16px;
    }    
    .destinations-block__city{
        margin-right: 80px;
    }
    .book-subtitle-title{
        font-size: 43px;
    }
    .book{
        justify-content: space-evenly;
    }
    .book__btn{
        margin-right: 5px;
    }
    .book__trip{
        right: -46px;
    }
}
//807px-925px
@media (min-width:807px) and (max-width:924.7px){
    .travel__girl{
        bottom: -16px;
        left: 335px;
        max-width: 106%;
    }
    .decore-block{
        background-size: 32em 44em;
    }
}
//680px-925px
@media (min-width:680px) and (max-width:924.7px){
    .header__logo{
        margin-right: 24px;
    }
    .header__conteiner{
        padding-top: 18px;    
    }
    .menu__link{
        margin-right: 15px;
        font-size: 15px;
    }
    .header__btn{
        margin-right: 31px;
    }
    .travel__text{
        font-size: 15px;
    }
    .travel__title{
        font-size: 41px;
        line-height: 62px;
        margin-bottom: 17px;    
    }
    .travel__btn{
        padding: 15px 22px 14px 24px;
        margin-right: 20px;
    }
    .travel__play-demo{
        margin-left: 13px;
    }
    .travel__girl{
        bottom: 52px;
        left: 267px;
        max-width: 105%;
    }
    .decore-block{
        background-size: 26em 50em;        
    }
    .services-block:hover{
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 36px;    
    }
    .travel__decore{
        top: 98px;
        left: 98px;
        max-width: 50%;
    }
    .subtitle-title{
        font-size: 42px;
    }
    .services-block{
        width: 48%;
        margin-bottom: 71px;
    }
    .services-block:hover{
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 36px;
    }
    .subtitle__img{
        width: 16%;
        right: 15px;
    }
    .category__img{
        display: none;
        //width: 15%;
        //left: 330px;
        //top: 218px;
    }
    .destinations{
        flex-direction: column;
        margin-left: 100px;
    }
    .destinations-block__img{
        max-width: 250%;
    }
    .destinations-block__text{
        bottom: 179px;
        width: 169%;
    }
    .destinations__img{
        display: none;        
    }
    .book__text{
        max-width: 78%;
    }    
}
//466px-680px
@media (min-width:466px) and (max-width:679.8px){
    
}
//320px-680px
@media (min-width:320px) and (max-width:679.7px){
    .travel__text{
        font-size: 12px;
        margin-bottom: 6px;
    }
    .header__logo{
        margin-bottom: 9px;
    }
    .header__conteiner{        
        flex-direction: column;
        align-items: flex-start;
    }    
    .menu{
        flex-direction: column;
    }
    .menu__content{
        margin-bottom: 5px;
    }
    .travel__title{
        font-size: 28px;
        line-height: 35px;
        width: 70%;
    }
    .travel{
        margin: 0 auto;
    }
    .travel__description{
        font-size: 10px;
        line-height: 14px;
        width: 62%;
    }   
    .travel__play{
        width: 49px;
        height: 49px;
        margin-bottom: 13px;
    }  
    .travel__girl{
        display: none;
    }
    .travel__demo{
        flex-direction: column;
        align-items: flex-start;
    }
    .travel__btn{
        font-size: 8px;
        margin-bottom: 9px;
        margin-right: 42px;
    }
    .travel__play-demo{
        margin-left: 7px;
        font-size: 11px;
    }
    .decore-block{
        background-size: 20em 52em;
        padding-bottom: 100px;    
    }
    .travel__decore{
        top: 58px;
        left: 35px;
        width: 43%;
    }     
    .subtitle-title{
        font-size: 30px;
        line-height: 30px;
    }
    .subtitle__img{
        display: none;
    }
    .category{
        flex-direction: column;
    }
    .services-block{
        width: 100%;
    }
    .services-block:hover{
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 36px;    
    }
    .services-block__description{
        margin-bottom: 30px;
    }
    .category__img{
        left: 9px;
        top: 493px;
        width: 24%;
    }
    .destinations{
        flex-direction: column;
    }
    .destinations-block{
        width: 100%;
    }
    .destinations-block__img{
        width: 100%;
    }
    .destinations-block__text{
        left: 51px;
        bottom: 110px;
        width: 80%;
        padding-left: 32px;
        padding-top: 35px;
        padding-bottom: 54px;
    }
    .destinations-block__city{
        font-size: 14px;
        margin-right: 63px;
    }
    .destinations-block__trip{
        font-size: 11px;
    }
    .destinations__img{
       display: none;  
    }
    .book-subtitle-title{
        font-size: 23px;
        line-height: 36px;
    }
    .book-subtitle{
        font-size: 15px;
        line-height: 8px;
    }
    .book-block{
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
    }
    .book__img{
        width: 75%;
    }
    .book__trip{
        max-width: 55%;
        right: 7px;
        bottom: 52px;
    }
    .book__pictyre{
        padding: 2px 0px 0px 0px;
    }
    .book__greece{
        font-size: 14px;
        line-height: 107%;
    }
    .book__btn{
        margin-right: 5px;
    }
    .book__going{
        margin-right: 109px;
    }
}

