.category{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 200px;

    &__img{
        position: absolute;
        left: 287px;
        top: 220px;
        z-index: -3;
                
    }

}
.subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $text-color;
    position: relative;
    margin-top: 50px;
    
    &__img{
        position: absolute;
        right: 30px;
    }
}
.subtitle-title{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
    margin-bottom: 66px;
}
.services-block{
    width: 19%;       
    text-align: center;
    position: relative;
       
       
    &__title{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #1E1D4C;
        margin-top: 29px;
        margin-bottom: 15px;        
    }   
    &__description{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;   
        color: $description-color;       
        text-align: center;
    }
    &__img{
        height: 100px;
    }      
}
.services-block:hover{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
    height: 300px;           
}
