.subscribe{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1287px;

    &__info{
        background-color: rgba(223, 215, 249, 0.2);
        border-radius: 129px 20px 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        margin-top: 129px;
        position: relative;       
    }

    &__title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 33px;
        line-height: 54px;
        text-align: center;
        color: rgba(94, 98, 130, 1);
        max-width: 69%;
        padding-top: 79px;        
    }
    &__label{
        padding-top: 74px;
        position: relative;
    }
    &__label::before{
        content: '\2709';
        position: absolute;
        left: 20px;
        bottom: 104px;

    }
    &__input{
        padding: 25px 166px 25px 66px;
        border: none;                
    }

    &__label{
        display: flex;
        padding-bottom: 78px;
        z-index: 3;
    }
    &__btn{
        border: none;
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: 10px;
        color: white; 
        padding: 22px 50px 23px 50px;
        margin-left: 24px;      
    }
    &__img{
        position: absolute;
        left: -85px;
        top: 41px;
    }
    &__zero{
        position: absolute;
        right: 0px;
        top: 0px;
    }    
    &__messeg{
        position: absolute;
        right: -14px;
        top: -19px;
    }
    
    &__decore{
        position: absolute;
        right: -86px;
        bottom: -71px;
    }
    &__input::placeholder::before{
        content: '\2709';
        display: inline-block;
    }
    &__input::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #39425D;     
    }
    
}


