.about{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1195px;
    display: flex;    
    
    &__subtitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #5E6282;
        margin-top: 209px;
    }
    
    &__title{
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 64px;
        text-transform: capitalize;
        color: #14183E;
        margin-top: 8px;
    }
    &__text{
        max-width: 35%;
    }
    .swiper-button-next{
        transform: rotate(90deg) translateX(102px);
    }   
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        color: #3E2E4D;               
    }
    .swiper-button-prev{
        transform: rotate(90deg) translateX(40px);
        left: auto;
        right: 10px;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        color: #3E2E4D;              
    }    
    .swiper-wrapper{
        height: 280px;
    }    
    .swiper{
        width: 50%;
        margin-top: 209px;
        margin-left: 124px;        
    }
    .swiper-block{        
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.04), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 10px;
        
        &__description{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #5E6282;
            padding-bottom: 34px;
        }        
            
        &__name{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #5E6282;
        }

        &__city{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #5E6282;
            padding-bottom: 34px;
        }
    }
}