.compani
    img(src="./assets/imgs/compani-1.png", alt="compani").compani__img
    img(src="./assets/imgs/compani-2.png", alt="compani").compani__img
    img(src="./assets/imgs/compani-3.png", alt="compani").compani__img
    img(src="./assets/imgs/compani-4.png", alt="compani").compani__img
    img(src="./assets/imgs/compani-5.png", alt="compani").compani__img