include ../mixins/contackts-block.pug
.contackts
    .contackts__logo
        h2.contackts__title Jadoo.
        p.contackts__description Book your trip in minute, get full Control for much longer.
    .contackts__about
        +contackts-block({
            linktitle:'Company',
            linkab:'About',
            linkc:'Careers',
            linkm:'Mobile',
        })
        +contackts-block({
            linktitle:'Contact',
            linkab:'Help/FAQ',
            linkc:'Press',
            linkm:'Affilates',
        })
        +contackts-block({
            linktitle:'More',
            linkab:'Airlinefees',
            linkc:'Airline',
            linkm:'low fare tips',
        })
    .contackts__discover
        button.contackts__btn
            a(href="#").contackts__link
                img(src="./assets/imgs/facesbook.png", alt="facesbook").contackts__img
        button.contackts__btn
            a(href="#").contackts__link
                img(src="./assets/imgs/insta.png", alt="insta").contackts__img
        button.contackts__btn
            a(href="#").contackts__link
                img(src="./assets/imgs/twitter.png", alt="twitter").contackts__img
        p.contackts__app Discover our app
        button.contackts__google
            a(href="#").contackts__google-link
                img(src="./assets/imgs/google.png", alt="google").contackts__google-img
        button.contackts__apple
            a(href="#").contackts__apple-link
                img(src="./assets/imgs/apple.png", alt="apple").contackts__apple-img  
p.contackts__mail All rights reserved@jadoo.co  

