.subscribe
    .subscribe__info    
        h3.subscribe__title Subscribe to get information, latest news and other interesting offers about Cobham
        img(src="./assets/imgs/zero-1.png", alt="zero").subscribe__img
        img(src="./assets/imgs/zero-2.png", alt="zero").subscribe__zero
        label(for="").subscribe__label
            input(type="text" placeholder="Your email").subscribe__input
            button.subscribe__btn Subscribe
        img(src="./assets/imgs/messeg.png", alt="messeg").subscribe__messeg
        img(src="./assets/imgs/sub-decore.png", alt="decore").subscribe__decore