doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/vendors.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")
        link(rel="stylesheet", href="./assets/fonts/poppins.css")
        link(rel="stylesheet", href="./assets/fonts/google-sans.css")
        link(rel="stylesheet", href="./assetc/fonts/volkhov.css")
    body    
        .header
            .header__conteiner
                .header__content
                img(src="./assets/imgs/logo.png", alt="logo").header__logo
                ul.menu
                    li.menu__content
                        a(href="#").menu__link Desitnations
                    li.menu__content
                        a(href="#").menu__link Hotels
                    li.menu__content
                        a(href="#").menu__link Flights
                    li.menu__content
                        a(href="#").menu__link Bookings
                    li.menu__content
                        a(href="#").menu__link Login
                button.header__btn Sign up
                .header__language                
                    select.header__select(name="language")
                        option.header__option(value="EN") EN
                        option.header__option(value="RU") RU                
        .main
            .main-conteiner
                .travel
                    .travel__content
                        p.travel__text Best Destinations around the world
                        h1.travel__title Travel, enjoy and live a new and full life
                            img(src="./assets/imgs/decore-title.png", alt="decore-title").travel__decore
                        p.travel__description Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.                        
                        .travel__demo
                            button.travel__btn Find out more
                            button.travel__play 
                                img(src="./assets/imgs/play.png", alt="").travel__img
                            p.travel__play-demo Play Demo
                .pictures                    
                    img(src="./assets/imgs/girl.png", alt="").pictures__girl



               
                
                