mixin contackts-block(args={})
    .contackts-block
        ul.contackts-block__list-args.list
            li.contackts-block__item-title=args.itemtitle
                a(href="#").contackts-block__linktitle=args.linktitle
            li.contackts-block__item=args.item
                a(href="#").contackts-block__linkab=args.linkab
            li.contackts-block__item=args.item
                a(href="#").contackts-block__linkc=args.linkc
            li.contackts-block__item=args.item
                a(href="#").contackts-block__linkm=args.linkm