mixin services-block(args={})
    .services-block
        img(src=args.img, alt="service").services-block__img               
        h3.services-block__title=args.title
        p.services-block__description=args.description