mixin swiper-block(args={})
    .swiper-block
        img(src=args.img, alt="photo").swiper-block__img
        p.swiper-block__description=args.description
        p.swiper-block__name=args.name
        p.swiper-block__city=args.city